@media (max-width: 1400px) {

  #main_home,#main_to_watch,#main_watched{
    grid-template-columns: repeat(3,1fr);
  }
  
}

@media (max-width: 1000px) {

  #main_home,#main_to_watch,#main_watched{
    grid-template-columns: repeat(2,1fr);
  }
  
}

@media (max-width: 630px) {

  #main_home,#main_to_watch,#main_watched{
    grid-template-columns: repeat(1,1fr);
  }
  
}