.main_film{
  width: 100%;
}

.main_film .header_film{
  max-width: 100%;
 

}

.main_film .header_film .img_film{
  width:100%;

  max-height: 60rem;

  object-fit: cover;
  object-position: top center;
}

.main_film article{
  margin: auto;
  max-width: 120rem;

}